/*STYLESHEET FOR THE NEWS(TAB1)*/

/*START OF NEWS(TAB1) [CAROUSEL]*/
	/*Carousel Container*/
	#homeIntro {
		background: #0c0c0c;
		text-align: center;
		color: #ffffff;
		height: 950px;
	}

	/*Statistics Slider Container*/
	#statistics_slider {
		background-image: url("/Images/2.png");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		display: flex;
		box-sizing: border-box;
		top: 450px;
		left: 50%;
		width:100%;
		transform: translate(-50%, -50%);
		position: relative;
		align-content: center;
		animation-name: background-change;
	  	animation-duration: 300s;
	  	animation-iteration-count: infinite;
	}

	.slide {
		min-width: 100%;
		transition: 0.5s;
		height: 950px;
	}
	/*Statistics Slider Container*/

	/*Statistics Slider Buttons*/
	#statistics_slider button {
		background: transparent;
	}

	.arrow {
	  border: solid #FFE6E6;
	  border-width: 0 3px 3px 0;
	  display: inline-block;
	  padding: 7px;
	}

	/*Background Changing Animation*/
	@keyframes background-change {
	  0% {background-image: url("/Images/3.png");}
	  10%{background-image: url("/Images/4.png");}
	  20%{background-image: url("/Images/5.png");}
	  30%{background-image: url("/Images/6.png");}
	  40%{background-image: url("/Images/7.png");}
	  50% {background-image: url("/Images/8.png");}
	  60%{background-image: url("/Images/9.png");}
	  70%{background-image: url("/Images/10.png");}
	  80%{background-image: url("/Images/3.png");}
	  90%{background-image: url("/Images/4.png");}
	  100%{background-image: url("/Images/2.png");}
	}

	/*Switch Display*/
	#goLeft {
		position: absolute;
		top: 50%;
		left: 4%;
		transform: translateY(-50%);
	}

	#goRight {
		position: absolute;
		top: 50%;
		right: 4%;
		transform: translateY(-50%);
	}

	.right {
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	}

	.left {
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	}


	/*START OF DISPLAY STATISTICS
		/*START OF globalStatistics*/
		#globalStatistics {
			float: left;
			font-size: 40px;
			padding-left: 10%;
			text-align: left;
			text-shadow: 4px 4px 20px #000000;
			margin-top: 80px;
			line-height: 80px;
		}

		#globalStatistics p {
			font-size: 50px;
		}
		/*END OF globalStatistics*/

		/*START OF phStatistics */
		#phStatistics {
			float: left;
			padding-left: 10%;
			text-align: left;
			text-shadow: 4px 4px 20px #000000;
			font-size: 40px;
			width: 100%;
			margin-top: 80px
		}

		#phStatistics p {
			font-size: 35px;
			margin-top: -10px;
			line-height: 25px;
		}

		.phStatistics_row {
			display: flex;
		}
		  
		.phStatistics_col {
			flex: 50%;
		}
		  
		.phStatistics_container {
			width:70%;
		}
		/*END OF phStatistics */



		/*START OF searchStatistics*/
			/* Start of searchStatistics Container Formattings */
			#searchStatistics {
				float: left;
				padding-left: 10%;
				text-align: left;
				text-shadow: 4px 4px 20px #000000;
				font-size: 40px;
				width: 100%;
				margin-top: 80px
			}

			#searchStatistics p {
				font-size: 30px;
				margin-top: -10px;
				line-height: 25px;
			}

			.searchStatistics_row {
				display: flex;
			}
			  
			.searchStatistics_col {
				flex: 50%;
			}
			  
			.searchStatistics_container {
				width:70%;
				
			}
			/* End of searchStatistics Container Formattings */

			/*Start of Search Bar */
			#statisticsForm input[type=text] {
				background: white;
				height: 30px;
				font-size: 20px;
				border: 20px;
			    margin-right: 15px;
			    width: 250px;
			    display: inline;
				text-align: left;
				color:black;
				padding: 15px;
				border-radius: 5px;
			}
			/*End of Search Bar */

			/*Start of Search Buttons */
			#statsButtons {
				display: inline;
			}

			#statsButtons button {
				background: white;
				border-radius: 0px;
				margin-right: 5px;
				color: #000000;
				padding: 15px;
				border-radius: 5px;
				transition:0.5s;
			}

			#statsButtons button:hover {
				font-weight: normal;
				color: #ffffff;
				background: grey;
				transition:0.5s;
			}
			/*End of Search Buttons */
		/*END OF searchStatistics*/
	/*END OF DISPLAY STATISTICS*/
/*END OF NEWS(TAB1) [CAROUSEL]*/

/*START OF NEWS(TAB1) [SECTION 1]*/
#newsIntro {
	background-color: #0c0c0c;
	text-align: center;
	color: #ffffff;
	position: relative;
	height: 600px;
	padding-top: 100px;
}

#newsIntro_text {
	float: center;
	text-align: center;
}

#newsIntro_text h2 {
	font-size: 40px;
	float: center;
}

#newsIntro_text p {
	font-size: 20px;
	float: center;
	margin-top: 0;
}

#newsIntro ul {
	list-style: none;
}

#newsIntro ul a {
	color: lightcoral;
	text-decoration: none;
}

#newsIntro ul li {
	margin-top: 5px;
	font-size: 17px;
}

#newsIntro ul a:hover {
	color: #d3d3d3;
	font-weight: bold;
}
/*END OF NEWS(TAB1) [SECTION 1]*/

/*START OF RESPONSIVE CODES*/
@media(max-width: 920px) {
	#homeIntro_text,
	#pandemicInfo,
	#statsInfo {
		text-align: center;
		float: none;
		width: 100%;
	}

	#homeIntro a img {
		display: none;
	}

	#pandemicInfo {
		margin-top: 40px;
	}

	#globalStatistics{
		margin-left: 0;
		margin-top: 40px;
		font-size: 30px;
		line-height: 70px;
		text-align: left;
	}

	#globalStatistics p {
		font-size: 30px;
	}

	#phStatistics {
		padding-left: 10%;
		text-align: left;
		text-shadow: 4px 4px 20px #000000;
		font-size: 30px;
		width: 90%;
		line-height: 40px;
		margin-top: 50px;
	}

	#phStatistics h1{
		line-height:70px;
	}

	#phStatistics h3{
		font-size: 25px;
		margin-top:-10px;
		line-height:20px;
		text-decoration: underline 10px;
	}

	#phStatistics p{
		font-size: 25px;
		margin-top:-10px;
		line-height:20px;
	}

	.phStatistics_row {
		display: flex;
	}
	  
	.phStatistics_col {
		flex: 50%;
	}
	  
	.phStatistics_container {
		width:90%;
		
	}

	#searchStatistics {
		padding-left: 10%;
		text-align: left;
		text-shadow: 4px 4px 20px #000000;
		font-size: 30px;
		width: 90%;
		line-height: 40px;
		margin-top: 50px;
	}

	#searchStatistics h1{ 
		line-height:70px;
	}

	#searchStatistics h3 {
		font-size: 20px;
		margin-top:-10px;
		line-height:20px;
		text-decoration: underline 10px;
	}

	#searchStatistics p {
		font-size: 20px;
		margin-top:-10px;
		line-height:20px;
	}

	.searchStatistics_row {
		display: flex;
	}
	  
	.searchStatistics_col {
		flex: 50%;
	}
	  
	.searchStatistics_container {
		width:90%;
		
	}


#statisticsForm input[type=text] {
	background: white;
	height: 30px;
	font-size: 15px;
	border: 20px;
    display: inline;
	text-align: left;
	color:black;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 0px;
}

#statsButtons {
	display: inline;
}

#statsButtons button {
	padding: 10px;
	margin-bottom: 40px;
	font-size: 15px;
	
}



	
	#statistics_slider {
		min-height: 113%;
		width: 100;
		padding: 0px;
		margin-top: 5%;
	}
	.slide {
		margin-top: 35%;
	}


/*Slideshow Size*/
#homeIntro { height: 700px; }
#statistics_slider { top: 150px; }
.slide { height: 700px;}
}

@media(max-width: 739px) {
/*Slideshow Size*/
#homeIntro { height: 630px; }
#statistics_slider { top: 220px; }
.slide { height: 700px;}

#statisticsForm input[type=text] {
	height: 15px;
	font-size: 12px;
    display: inline;
	text-align: left;
	color:black;
	padding: 5px;
	border-radius: 5px;
	width: 110px;
	margin-right:4px;
}

#statsButtons button {
	padding: 4px;
	font-size: 12px;
	margin-right: 3px;
	
}

	#globalStatistics{
		margin-left: 0;
		margin-top: 40px;
		font-size: 30px;
		line-height: 60px;
		text-align: left;
	}

		#globalStatistics p{
		margin-left: 0;
		margin-top: 40px;
		font-size: 25px;
		line-height: 40px;
		text-align: left;
	}

	#searchStatistics {
	padding-left: 10%;
	text-align: left;
	text-shadow: 4px 4px 20px #000000;
	font-size: 30px;
	width: 90%;
	line-height: 40px;
	margin-top: 50px;
	}

	#searchStatistics h1{

		line-height:60px;
	}

	#searchStatistics h3{
		font-size: 15px;
		margin-top:-15px;
		line-height:20px;
		text-decoration: underline 10px;
	}

	#searchStatistics p{
		font-size: 15px;
		margin-top:-10px;
		line-height:15px;
	}

	#phStatistics {
	padding-left: 10%;
	text-align: left;
	text-shadow: 4px 4px 20px #000000;
	font-size: 30px;
	width: 90%;
	line-height: 40px;
	margin-top: 50px;
	}

	#phStatistics h1{

		line-height:60px;
	}

	#phStatistics h3{
		font-size: 20px;
		margin-top:-10px;
		line-height:20px;
		text-decoration: underline 10px;
	}

	#phStatistics p{
		font-size: 17px;
		margin-top:-10px;
		line-height:20px;
	}
}
/*END OF RESPONSIVE CODES*/