/*Introduction*/
#homeIntro {
	background: #0B0202;
	min-height: 100vh;
	text-align: center;
	color: #ffffff;
}

#homeIntro_text {
	margin-top: 150px;
	float: center;
	text-align: center;
}

#homeIntro_text h2 {
	font-size: 40px;
	float: center;
}

#homeIntro_text h4 {
	margin-top: 0px;
	font-size: 25px;
	margin-bottom: 5px;
}

#homeIntro_text p {
	font-size: 20px;
	margin-top: 0;
}

.downArrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    height: 30px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50px;
    overflow: hidden;
}



/*Information*/
#homeContent {
	min-height: 100vh;
	background-color: #3f0000;
	text-align: center;
	color: #ffffff;
}

#pandemicInfo {
	float: left;
	background-color: #000000;
	width: 55%;
	min-height: 500px;
	margin-top: 100px;
	border-radius: 10px;
	text-align: center;
	display: block;
}

#pandemicInfo h3 {
	font-size: 20px;
	padding-top: 20px;
	margin: 10px;
	padding-bottom: 20px;
}

#pandemicInfo ul {
	list-style: none;
}

#pandemicInfo ul a {
	color: lightcoral;
	text-decoration: none;
}

#pandemicInfo ul li {
	margin-top: 5px;
	font-size: 17px;
}

#pandemicInfo ul a:hover {
	color: #d3d3d3;
	font-weight: bold;
}



/*Statistics*/
#statsInfo {
	float: right;
	background-color: #000000;
	width: 43%;
	min-height: 500px;
	margin-top: 100px;
	border-radius: 10px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

#globalInput button {
	margin-top: 40px;
}

#globalStats p {
	font-size: 15px;
}

#countryInput form {
	padding-top: 20px;
	margin: 10px;
	padding-bottom: 20px;
}

#countryInput form input {
	background: transparent;
	padding: 0 20px 0 5px;
	color: #ffffff;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #A0A0A0 1px;
    width: 200px;
    text-align: center;
}

#countryStats h3 {
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 5px;
}

.stats_buttons button {
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}



/*Footer*/
footer {
	padding: 2px;
	color: #DC143C;
	background-color: #000000;
	text-align: center;
}



@media(max-width: 768px) {
	#homeIntro_text,
	#homeIntro_text,
	#pandemicInfo,
	#statsInfo {
		text-align: center;
		float: none;
		width: 100%;
	}
	#statsInfo {
		margin-top: 10px;
	}
	#homeIntro_text h2 {
		padding-top: 25px;
	}
}