/*STYLESHEET FOR THE HEALTHPAGE(TAB2))*/

/*START OF HEALTH(TAB2) [SECTION 1] EMERGENCIES*/
#healthSection1 {
	background-color: #0c0c0c;
	text-align: center;
	color: #ffffff;
	position: relative;
	height: 650px;
	padding-top: 100px;
}

#healthSection1_text {
	float: center;
	text-align: center;
}

#healthSection1_text h2 {
	font-size: 40px;
	float: center;
}

#healthSection1_text p {
	font-size: 20px;
	float: center;
	margin-top: 0;
}

#healthSection1 ul {
	list-style: none;
}

#healthSection1 ul li {
	margin-top: 5px;
	font-size: 22px;
	color: lightcoral;
	text-decoration: none;
}

#healthSection1 ul li:hover {
	color: #d3d3d3;
	font-weight: bold;
}
/*END OF HEALTH(TAB2) [SECTION 1] EMERGENCIES*/


/*START OF HEALTH(TAB2) [SECTION 2] MENTAL HEALTH*/
#healthSection2 {
	background-color: #010101;
	text-align: center;
	color: #ffffff;
	position: relative;
	height: 750px;
	padding-top: 100px;
}

#healthSection2_text {
	float: center;
	text-align: center;
}

#healthSection2_text h2 {
	font-size: 40px;
	float: center;
}

#healthSection2_text p {
	font-size: 20px;
	float: center;
	margin-top: 0;
}

#healthSection2 ul {
	list-style: none;
}

#healthSection2 ul a {
	color: lightcoral;
	text-decoration: none;
}

#healthSection2 ul li {
	margin-top: 5px;
	font-size: 17px;
}

#healthSection2 ul a:hover {
	color: #d3d3d3;
	font-weight: bold;
}
/*END OF HEALTH(TAB2) [SECTION 2] MENTAL HEALTH*/


/*START OF HEALTH(TAB2) [SECTION 3] PHYSICAL HEALTH*/
#healthSection3 {
	background-color: #0c0c0c;
	text-align: center;
	color: #ffffff;
	position: relative;
	height: 700px;
	padding-top: 100px;
}

#healthSection3_text {
	float: center;
	text-align: center;
}

#healthSection3_text h2 {
	font-size: 40px;
	float: center;
}

#healthSection3_text p {
	font-size: 20px;
	float: center;
	margin-top: 0;
}

#healthSection3 ul {
	list-style: none;
}

#healthSection3 ul a {
	color: lightcoral;
	text-decoration: none;
}

#healthSection3 ul li {
	margin-top: 5px;
	font-size: 17px;
}

#healthSection3 ul a:hover {
	color: #d3d3d3;
	font-weight: bold;
}
/*END OF HEALTH(TAB2) [SECTION 3] PHYSICAL HEALTH*/


/*END OF HEALTH(TAB2) [SECTION 4] POSITIVE REAFFIRMATION*/
#healthSection4 {
	background: linear-gradient(-45deg, #FFBFBA, #FF4949, #FFBA7D, #FF9232);
	background-size: 400% 400%;
	animation: change 10s ease-in-out infinite;
	min-height: auto;
	background-color: #3f0000;
	text-align: center;
	color: #ffffff;
}

#affirmationsSection {
	background-color: white;
	border-radius: 10px;
	text-align: left;
	display: block;
	color: black;
	padding: 100px 100px 100px 100px;
	margin:100px;
}


#affirmationsSection h1 {
	font-size: 30px;
}

#affirmationsForm input {
	background: transparent;
	border-bottom: 1px solid black;
	border-top: none;
	border-left:none;
	border-right: none;
	padding: 0 20px 0 5px;
	color: #000000;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
    width: 400px;
    text-align: left;
}

#display_statements p {
	font-size: 15px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.messages_buttons button {
	margin:10px
}



@media(max-width: 1024px) {
	#affirmationsSection {
		background-color: white;
		display: block;
		color: black;
		padding: 50px;
		margin:40px 0px 40px 0px;
		text-align: left;
		float: none;
	}

	#affirmationsForm input {
	background: transparent;
	border-bottom: 1px solid black;
	border-top: none;
	border-left:none;
	border-right: none;
	padding: 0 20px 0 5px;
	color: #000000;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
    width: 400px;
    text-align: left;
    margin-bottom:0px;
}

	#display_statements p {
		font-size: 15px;
		margin: 0px;
	}
}

@media(max-width: 425px) {
	#affirmationsSection {
		background-color: white;
		display: block;
		color: black;
		padding: 50px;
		margin:40px 0px 40px 0px;
		text-align: left;
		float: none;
	}

	#affirmationsForm input {
	background: transparent;
	border-bottom: 1px solid black;
	border-top: none;
	border-left:none;
	border-right: none;
	padding: 0 20px 0 5px;
	color: #000000;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
    width: 80%;
    text-align: left;
    margin-bottom:10px;
}

	#display_statements p {
		font-size: 15px;
		margin: 0px;
	}

}
/* END OF POSITIVE AFFIRMATION SECTION */