/*Introduction*/
#healthIntro {
	background-color: #0c0c0c;
	height: 920px;
	text-align: center;
	color: #ffffff;
}

#healthIntro_text {
	margin-top: 150px;
	float: center;
	text-align: center;
}

#healthIntro_text h2 {
	font-size: 40px;
	float: center;
}

#healthIntro_text p {
	font-size: 20px;
	float: center;
	margin-top: 0;
}



/*Slider*/
#health_slider {
	background: linear-gradient(-45deg, #FFBFBA, #FF4949, #FFBA7D, #FF9232);
	background-size: 400% 400%;
	text-align: center;
	display: flex;
	box-sizing: border-box;
	top: 450px;
	left: 50%;
	width:100%;
	transform: translate(-50%, -50%);
	position: relative;
	align-content: center;
	animation: change 10s ease-in-out infinite;
}

@keyframes change {
	0% {background-position: 0 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0 50%;}
}

#health_slider button {
	background: transparent;
}

.slide {
	min-width: 100%;
	transition: 0.5s;
	height: 950px;
}

#goLeft {
	position: absolute;
	top: 50%;
	left: 4%;
	transform: translateY(-50%);
}

#goRight {
	position: absolute;
	top: 50%;
	right: 4%;
	transform: translateY(-50%);
}

.arrow {
  border: solid #FFE6E6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}



/*Slide Captions*/
#caption {
	margin-top: 200px;
	text-align: center;
	font-size: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

#caption button a {
	text-decoration: none;
}

#caption button a {
	letter-spacing: 1px;
	background: #ffffff;
	border-radius: 0px;
	margin-right: 5px;
	color: #000000;
	padding: 15px;
	border-radius: 5px;
	transition: 0.7s;
}

#caption button a:hover {
	font-weight: normal;
	color: #ffffff;
	background: grey;
	transition:0.5s;
}



/*Health Resources*/
#warning {
	color: #D8D8D8;
}

#physicalResources, #emergencyResources, #mentalResources {
	background-color: #0c0c0c;
	text-align: center;
	color: #ffffff;
	position: relative;
	min-height: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#emergencyResources {
	background-color: #B5B5B5;
	min-height: 200px;
}

#mentalResources {
	background-color: #868686;
	min-height: 400px;
}

#physicalResources {
	background-color: #5C5C5C;
	min-height: 400px;
}

#healthResources_text {
	float: center;
	text-align: center;
}

#healthResources_text ul a {
	color: #FFBEBE;
	text-decoration: none;
}

#physicalResources ul li, #emergencyResources ul li, #mentalResources ul li  {
	margin-top: 5px;
	font-size: 17px;
	margin-right: 10px;
	margin-left: 10px;
	list-style: none;
}

#physicalResources ul a:hover, #emergencyResources ul a:hover, #mentalResources ul a:hover {
	color: #d3d3d3;
	font-weight: bold;
}

#emergencies h3, #mentalHealth h3, #physicalHealth h3 {
	font-size: 30px;
	margin-bottom: 10px;
}

#contentLinks {
	padding: 0px 20px 20px 20px;
}



/*Messages*/
#healthContent {
	min-height: 100vh;
	background-color: #3f0000;
	text-align: center;
	color: #ffffff;
}

#affirmationsSection {
	background-color: #000000;
	min-height: 500px;
	margin-top: 100px;
	border-radius: 10px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

#affirmationsForm form {
	padding-top: 20px;
	margin: 10px;
	padding-bottom: 20px;
}

#affirmationsForm input {
	background: transparent;
	padding: 0 20px 0 5px;
	color: #ffffff;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #A0A0A0 1px;
    width: 200px;
    text-align: center;
    margin-top: 40px;
}

#display_statements p {
	font-size: 18px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.messages_buttons button {
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}



@media(max-width: 768px) {
	#healthInfo,
	#affirmationsSection {
		text-align: center;
		float: none;
		width: 100%;
	}
	#affirmationsSection {
		margin-top: 20px;
	}
	#healthIntro_text h2 {
		padding-top: 25px;
	}
	#display_statements p {
		padding-bottom: 20px;
	} 
	#healthIntro a img {
		display: none;
	} 
	#emergencies {
		margin-top: -20px;
	}
	#caption {
		margin-top: 10px;
	}
}