/*Animations*/

.fade-in {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.8s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: 0.4;
    transition: 0s;
}

.slideRight {
    animation:
        slideRight 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
    width: 100%;
}

@keyframes slideRight {
    from {transform: translateX(-50%);}
    to {transform:translateX(0);}
}

.slideDown {
    animation:
        slideDown 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
}

@keyframes slideDown {
    from {transform: translateY(-50%);}
    to {transform:translateY(0);}
}

.slideUp {
    animation:
        slideUp 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
}

@keyframes slideUp {
    from {transform: translateY(50%);}
    to {transform:translateY(0);}
}



/*Scrollbar*/
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#DC143C, #FF7979);
    border-radius: 6px;
}

.overflow-container::-webkit-scrollbar {
    width: 5px;
}

.overflow-container::-webkit-scrollbar-thumb {
    background: grey;
}

/*Background Changing Animation*/
    @keyframes background-change {
      0% {background-image: url("/Images/3.png");}
      10%{background-image: url("/Images/4.png");}
      20%{background-image: url("/Images/5.png");}
      30%{background-image: url("/Images/6.png");}
      40%{background-image: url("/Images/7.png");}
      50% {background-image: url("/Images/8.png");}
      60%{background-image: url("/Images/9.png");}
      70%{background-image: url("/Images/10.png");}
      80%{background-image: url("/Images/3.png");}
      90%{background-image: url("/Images/4.png");}
      100%{background-image: url("/Images/2.png");}
    }